<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    
    <%- include('partials/navbar') %>

    <div class="container">
      <p><%= title %></p>
      <a href="/artists/<%= songs[0].artist_id %>">
        <p><%= artist %></p>
      </a>
      <p><%= year %></p>
      <p><%= songs.length %> Songs</p>
      <div class="songs-list">
        <% songs.forEach((song) => { %>
          <p><%= song.title %> - Track Number: <%= song.track_no %> Length: <%= song.length %></p>
          <% }) %>
        </div>
    </div>

  </body>
</html>
