<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
    </div>
    <p><%= title %></p>
    <a href="/artists/<%= songs[0].artist_id %>">
      <p><%= artist %></p>
    </a>
    <p><%= year %></p>
    <div class="songs-list">
      <% songs.forEach((song) => { %>
        <p><%= song.title %> - Track Number: <%= song.track_no %> Length: <%= song.length %></p>
      <% }) %>
    </div>

  </body>
</html>
