<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
    </div>
    <div class="songs-list">
      <% songs.forEach((song) => { %>
        <a href="/songs/<%= song.id %>" class="song-info-link">
          <h4 class="song-title"><%= song.title %></h4>
        </a>
        <a href="/artists/<%= song.artist_id %>" class="artist-info-link">
          <p class="song-artist"><%= song.artist %></p>
        </a>
      <% }) %>
    </div>
  </body>
</html>
